@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500&display=swap');
/* Reset CSS */
body {
    padding: 0;
    margin: 0;
	font-family: 'Mukta', sans-serif;
	border: 4rem solid white;
}

a {
	text-decoration: none;
}

/* Custom CSS */
/* Header */
header {
	position:fixed;
	top:0;
	left:0;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

header h1 {
	text-align: center;
	font-size: 1rem;
	padding: 1.5rem;
}

header a,
header a:hover{
	text-decoration:none;
	color: #000;
}
/* Menu */
#menu{
	position:fixed;
	top: 4rem;
	right: 5rem;
	z-index: 70;
	padding: 0;
	margin:0;
	font-size: 0.8rem;
}

#menu li {
	display:inline-block;
	margin: 10px;
}

#menu li.active{
	text-decoration: underline;
}

#menu li a{
	text-decoration:none;
	color: #5A5A5A;
}

#menu li:hover{
	text-decoration: underline;
}

#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}

#menu li.active a{
	color: #000000;
	text-decoration: underline;
}

/* Sections */
.section h1 {
	font-weight: 200;
}

/* Backgrounds */
/* Defining each sectino background and styles */
#section1 {
	background-image: url('../img/bg1.jpg');
	background-position: 70% 90%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#section1 h1,
#section1 p {
	text-align: center;
	text-shadow: 1px 1px 4px #3A3B3C;
	color: white;
}

#section2 {
	background-image: url('../img/bg2.jpg');
	background-position: 47% 65%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: white;
	text-shadow: 1px 1px 4px #3A3B3C;
}

#section2 p {
	display: inline;
	font-weight: 200;
}

#section3 {
	background-color: greenyellow;
}

#section4 p {
	font-weight: 300;
}

@media (max-width: 900px) { 
	body {
		border: 0rem;
	}
}